{% extends "layout.html" %} {% block main %} {% if user_data %}

<h1 class="cascading stroke-text">
  <span class="text-container">Hello, {{ name }} !</span>
</h1>

<h3 class="cascading stroke-text">
  <span class="text-container">
    Your Body Mass Index (BMI) is {{ user_data.bmi }}.
    <br />
    Your blood pressure status is : {{ user_data.bps }}
    <br />
    Your max heartrate is : {{ user_data.max_heartrate }}
    <br />
    Your goal pulse is {{ user_data.gp_lower }} to {{ user_data.gp_upper }} BPM
    <br />
  </span>
</h3>

{% else %}

<h1 class="cascading stroke-text">
  <span class="text-container"
    >You haven't provided data about yourself yet! head over to Health test to
    get your health results.</span
  >
</h1>
{% endif %} {% if favourites %}
<h3 class="cascading stroke-text">
  <span class="text-container">Here are your favourites: </span>
</h3>
<div>
  <table class="table table-dark table-hover table-bordered">
    <tr>
      <th>Exercise name</th>
      <th>Exercise Type</th>
      <th>Exercise Difficulty</th>
      <th>Equipment</th>
      <th>Muscle Group</th>
      <th>Instructions</th>
    </tr>
    {% for favourite in favourites %}
    <tr>
      <td>{{ favourite.exercise_name|capitalize }}</td>
      <td>{{ favourite.exercise_type|capitalize }}</td>
      <td>{{ favourite.exercise_difficulty|capitalize }}</td>
      <td>{{ favourite.equipment|capitalize }}</td>
      <td>{{ favourite.muscle_group|capitalize }}</td>
      <td>
        <details>
          <summary>See more...</summary>
          <p style="padding-top: 1vh">{{ favourite.instructions }}</p>
        </details>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<h3 class="cascading stroke-text">
  <span class="text-container">You don't have any favourites yet</span>
</h3>
{% endif %} {% endblock %}
