{% extends "layout.html" %} {% block main %}

<h1 class="stroke-text cascading" style="padding-top: 1vh">
  <span class="text-container rounded-pill">Register below:</span>
</h1>

<div id="error"></div>
<form method="post" action="/register" style="margin-top: 10vh">
  <div class="form-padding" id="email-validation">
    <div class="label">
      <label class="menu-hint" for="email">Email</label>
    </div>
    <input
      class="rounded-pill"
      title="Password must be at least 8 characters long and contain numbers, alphabetical characters or ['+', '-', '_', '.', '&'']!"
      required
      pattern="[a-zA-Z0-9+-_.&]+@[a-zA-Z0-9+-]+\.[a-z]{2,}"
      class="form-control-sm"
      type="email"
      name="email"
      id="email"
    />
  </div>
  <div class="form-padding" id="username-validation">
    <div class="label">
      <label class="menu-hint" for="username">Username</label>
    </div>
    <input
      class="rounded-pill"
      title="Username must be at least 3 characters long and contain numbers, alphabetical characters or ['+', '-', '_', '.', '&'']!"
      required
      pattern="[a-zA-Z0-9+-_.&]{3,}"
      class="form-control-sm"
      type="text"
      name="username"
      id="username"
    />
  </div>
  <div class="form-padding" id="password-validation">
    <div class="label">
      <label class="menu-hint" for="password">Password</label>
    </div>
    <input
      class="rounded-pill"
      pattern="[a-zA-Z0-9+-_.&]{8,}"
      required
      class="form-control-sm"
      type="password"
      name="password"
      id="password"
    />
    <p class="input-hint">Password must be at least 8 character long.</p>
  </div>
  <button
    class="btn btn-success rounded-pill"
    type="submit"
    id="submit"
    style="margin-top: 1vh"
  >
    Register
  </button>
</form>
{% endblock %}
